<% http_verb, path = form_path(questionnaire, current_resource, 'contact') %>
<p class='lead'>
  Unique Identifier: <%= @questionnaire.uuid %>
</p>
<%= simple_form_for(current_resource, as: :contact, method: http_verb, url: path, remote: true)   do |f| %>
  <div class='form-row'>
    <p class='lead'>
      <strong>
        Who is the point of contact this dataset? At least one point of contact must be provided (can be a person or an organization). Add multiple persons or organizations by clicking on the blue + sign.
      </strong>
      <hr>
    </p>
    <div class='people_holder col-md-6'>
      <%= f.input :questionnaire_id, as: :hidden, input_html: { value: questionnaire.id } %>
      <%= f.nested_fields_for :people do |people| %>
        <%= people.remove_nested_fields_link 'X', class: 'btn btn-danger resource_btn tool_tip', role: 'button', title: 'Remove Person' %>
        <p class="lead">
          Person
        </p>
        <div class='form-group'>
          <%= people.input :first_name, input_html: { class: 'req_input' } %>
        </div>
        <div class='form-group'>
          <%= people.input :middle_name %>
        </div>
        <div class='form-group'>
          <%= people.input :last_name, input_html: { class: 'req_input' } %>
        </div>
        <div class='form-group'>
          <%= people.input :email, input_html: { class: 'req_input' } %>
        </div>
        <div class='form-group'>
          <%= people.label :role, 'Role.*.'%>
          <%= people.select :role, Contact::ROLES, { include_blank: 'Select a Role' }, { class: 'role_select select req_input', required: true }  %>
        </div>
        <hr/>
      <% end %>
      <%= f.add_nested_fields_link :people, '+', { class: 'btn btn-lg btn-primary resource_btn tool_tip', title: 'Add Person' } %>
    </div>

    <div class='organization_holder col-md-6'>
      <%= f.nested_fields_for :organizations do |org| %>
        <%= org.remove_nested_fields_link 'X', class: 'btn btn-danger resource_btn tool_tip', role: 'button', title: 'Remove Organization' %>
        <p class="lead">
          Organization
        </p>
        <div class='form-group'>
          <%= org.input :name, input_html: { class: 'req_input' } %>
        </div>
        <div class='form-group'>
          <%= org.input :email, input_html: { class: 'req_input' } %>
        </div>
        <div class='form-group'>
          <%= org.label :role, 'Role.*.'%>
          <%= org.select :role, Contact::ROLES, { include_blank: 'Select a Role' }, { class: 'role_select select req_input', required: true }  %>
        </div>
        <hr/>
      <% end %>
      <%= f.add_nested_fields_link :organizations, '+', { class: 'btn btn-lg btn-primary resource_btn tool_tip', title: 'Add Organization' } %>
    </div>
  </div>
  <%= render 'form_footer', questionnaire: questionnaire, previous_partial: previous_partial, form: f %>
<% end %>
