<% http_verb, path = form_path(questionnaire, current_resource, 'data_info') %>
<p class='lead'>
  Unique Identifier: <%= questionnaire.uuid %>
</p>
<%= simple_form_for(current_resource, as: :data_info, method: http_verb, url: path, remote: true)   do |f| %>
  <div class='data_info_holder' id="data_info" class="content" role="tabpanel" aria-labelledby="data_info_trigger">
    <legend>
      Data Identification
    </legend>
    <%= f.input :questionnaire_id, as: :hidden, input_html: { value: questionnaire.id } %>
      <%= f.input :format, label: 'What are the format(s) of your data files?', required: true %>
    <div class='form-row'>
      <div class='col-md-4'>
        <%= f.label :size, 'What is the total size of your dataset?*' %>
        <%= f.input :size, label: false, required: true %>
      </div>
    </div>
    <div class='form-row'>
      <div class='col-md-4'>
        <%= f.label "Select unit:" %>
        <%= f.select :format, DataInfo::SIZE_FORMAT, { include_blank: 'Select unit' }, { class: 'size_format_select select', required: true }  %>
      </div>
    </div>
    <div class='form-row'>
      <div class='col-md-12'>
        <%= f.input :naming_convention, label: 'Naming Convention', hint: 'Please describe the file naming convention for this dataset, including an explanation of any abbreviations.' %>
      </div>
    </div>
    <div class='form-row'>
      <div class='col-md-12'>
        <%= f.label :quality_assurance, 'Please provide any additional information on quality, data quality flags, known errors or other uncertainties that may be helpful to a user of the data.' %>
        <%= f.input :quality_assurance, label: false, required: true %>
      </div>
    </div>
    <div class='form-row'>
      <div class='col-md-12'>
        <%= render 'form_footer', questionnaire: questionnaire, previous_partial: previous_partial, form: f %>
      </div>
    </div>
  </div>
  <%= javascript_tag do %>
    $('#data_info_trigger').addClass('active');
  <% end %>
<% end %>
