<% http_verb, path = form_path(questionnaire, current_resource, 'keyword') %>
<p class='lead'>
  Unique Identifier: <%= questionnaire.uuid %>
</p>
<%= simple_form_for(current_resource, as: :keyword, method: http_verb, url: path, remote: true)   do |f| %>
  <p class="lead">
    Descriptive Keywords
  </p>
  <%= f.input :questionnaire_id, as: :hidden, input_html: { value: questionnaire.id } %>
  <%= f.label :science_keywords, "Please select at least one science keyword from the following options:" %>
  <div class='row'>
    <div class='col-md-4'>

      <%= f.select :science_keywords, Keyword::SCIENCE_KEYWORDS, { include_blank: 'Select a keyword' }, { class: 'science_keywords_select select', required: true }  %>
      <!--
      <% @science_keywords.each_with_index do |science_keyword, index| %>
        <li>
          <%= science_keyword %>
        </li>
      <% end %>
      -->
    </div>
  </div>
  <%= f.input :ancillary_keywords, label: 'Please provide any other keywords or phrases to further describe the data.' %>
  <br>

  <%= javascript_tag do %>
    $('#keywords_trigger').addClass('active');
  <% end %>
  <%= render 'form_footer', questionnaire: questionnaire, previous_partial: previous_partial, form: f %>
<% end %>
