<% http_verb, path = form_path(questionnaire, Array.wrap(current_resource)[0], 'platforms') %>
<p class='lead'>
  Unique Identifier: <%= questionnaire.uuid %>
</p>
<%= simple_form_for(current_resource, as: :questionnaire, method: http_verb, url: path, remote: true)   do |f| %>
  <p class='lead'>
    Provide the names of all platforms and instruments used to collect the data. Multiple platforms/instruments may be added using the blue + sign. Multiple instruments may be provided under each platform.
  </p>
  <div class='platform_holder nested_fields'>
    <%= f.nested_fields_for(:platforms, class: 'nested_holder') do |platform| %>
      <%= render 'platform_fields', f: platform %>
      <%= link_to_add_association 'Add Platform', f, :platforms, { class: 'btn btn-lg btn-primary resource_btn tool_tip platform_btn', title: 'Add Platform', 'data-association-insertion-traversal': 'closest', 'data-association-insertion-method': 'after' } %>
    <% end %>

  </div>
  <%= render 'form_footer', questionnaire: questionnaire, previous_partial: previous_partial, form: f %>
<% end %>
