<div class='nested-fields platform_fields'>
  <p class='lead'>
    Platform
  </p>
  <%= link_to_remove_association 'X', f, { class: 'btn btn-lg btn-danger resource_btn tool_tip', role: 'button', title: 'Remove Platform' } %>
  <%= f.input :questionnaire_id, as: :hidden, input_html: { value: f.object.questionnaire_id } %>
  <%= f.input :name %>
  <div class='instruments_holder'>
    <%= f.fields_for(:instruments, class: 'nested_holder') do |instrument| %>
      <%= render 'instrument_fields', f: instrument %>
    <% end %>
    <%= link_to_add_association '+', f, :instruments, { class: 'btn btn-lg btn-primary resource_btn tool_tip instrument_btn',  title: 'Add Instrument', 'data-association-insertion-traversal': 'closest', 'data-association-insertion-method': 'after' } %>
  </div>
</div>
