<% http_verb, path = form_path(questionnaire, current_resource, 'project') %>
<p class='lead'>
  Unique Identifier: <%= questionnaire.uuid %>
</p>
<%= simple_form_for(current_resource, as: :project, method: http_verb, url: path, remote: true)   do |f| %>
  <p class="lead">
    <strong>
      What project or campaign was this dataset a part of?
    </strong>
  </p>
  <%= f.input :questionnaire_id, as: :hidden, input_html: { value: questionnaire.id }%>
  <%= f.input :name, label: 'Project Name *', placeholder: 'Eg. AfriSAR', required: true %>
  <%= f.input :agency, label: 'What agency (or agencies) funded the project?', placeholder: 'Eg. NASA' %>
  <%= f.input :program, label: 'If this dataset falls under an agency program, please list the program here:', placeholder: 'EG. MEaSUREs' %>
  <%= render 'form_footer', questionnaire: questionnaire, previous_partial: previous_partial, form: f %>
<% end %>
