<% http_verb, path = form_path(questionnaire, current_resource, 'related_info') %>
<p class='lead'>
  Unique Identifier: <%= questionnaire.uuid %>
</p>
<% questionnaire_id = questionnaire.id %>
<%= simple_form_for(current_resource, as: :related_info, method: http_verb, url: path, multipart: true, remote: true, authenticity_token: true)   do |f| %>
  <p class="lead">
    Related Information
  </p>
  <%= f.input :questionnaire_id, as: :hidden, input_html: { value: questionnaire.id } %>
  <%= f.label :published_paper_url, 'Has this dataset been described and used in a published paper? If so, please provide a DOI or link to the manscript.' %>
  <div class='row'>
    <div class='col-md-7'>
      <%= f.input :published_paper_url, label: false, placeholder: 'http://example.com, http://another.example.com' %>
    </div>
    <span class='col-md-1'>
      AND/OR
    </span>
    <div class='col-md-4'>
      <%= f.file_field :published_paper, label: false, multiple: true, class: 'file_upload' %>
    </div>
  </div>
  <% if current_resource.published_paper.present? %>
    <div class='row'>
      <div class='col-md-2'>
        <p class='lead'>
          Uploaded file
        </p>
      </div>
      <div class='col-md-10'>
        <% current_resource.published_paper.each do |doc|%>
          <div class='row '>
            <% file_name = doc.file.filename %>
            <div class='col-md-6'>
              <%= link_to file_name, doc.url, target: '_blank' %>
            </div>
            <div class='col-md-1'>
              <%= link_to 'X', files_questionnaire_path(id: questionnaire_id, current_partial: 'related_info', file_name: file_name, document: 'published_paper'), method: :delete, remote: true, class: 'btn btn-danger btn-sm btn_remove', title: 'Delete file' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= f.label :user_documentation_url, "If available, please provide any links to relevant user documentation." %>
  <div class='row'>
    <div class='col-md-7'>
      <%= f.input :user_documentation_url, label: false, placeholder: 'http://example.com, http://another.example.com' %>
    </div>
    <span class='col-md-1'>
      AND/OR
    </span>
    <div class='col-md-4'>
      <%= f.file_field :user_documentation, label: false, multiple: true, class: 'file_upload' %>
    </div>
  </div>
  <% if current_resource.user_documentation.present? %>
    <div class='row'>
      <div class='col-md-2'>
        <p class='lead'>
          Uploaded file
        </p>
      </div>
      <div class='col-md-10'>
        <% current_resource.user_documentation.each do |doc|%>
          <div class='row '>
            <% file_name = doc.file.filename %>
            <div class='col-md-6'>
              <%= link_to file_name, doc.url, target: '_blank' %>
            </div>
            <div class='col-md-1'>
              <%= link_to 'X', files_questionnaire_path(id: questionnaire_id, current_partial: 'related_info', file_name: file_name, document: 'user_documentation'), method: :delete, remote: true, class: 'btn btn-danger btn-sm btn_remove', title: 'Delete file' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= f.label :algo_documentation_url, 'If available, please provide a link to your ATBD or other documentation describing the algorithm and scientific principles used in generating your data.' %>
  <div class='row'>
    <div class='col-md-7'>
      <%= f.input :algo_documentation_url, label: false, placeholder: 'http://example.com, http://another.example.com' %>
    </div>
    <span class='col-md-1'>
      AND/OR
    </span>
    <div class='col-md-4'>
      <%= f.file_field :algo_documentation, label: false, multiple: true, class: 'file_upload' %>
    </div>
  </div>
  <% if current_resource.algo_documentation.present? %>
    <div class='row'>
      <div class='col-md-2'>
        <p class='lead'>
          Uploaded file
        </p>
      </div>
      <div class='col-md-10'>
        <% current_resource.algo_documentation.each do |doc|%>
          <div class='row '>
            <% file_name = doc.file.filename %>
            <div class='col-md-6'>
              <%= link_to file_name, doc.url, target: '_blank' %>
            </div>
            <div class='col-md-1'>
              <%= link_to 'X', files_questionnaire_path(id: questionnaire_id, current_partial: 'related_info', file_name: file_name, document: 'algo_documentation'), method: :delete, remote: true, class: 'btn btn-danger btn-sm btn_remove', title: 'Delete file' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= javascript_tag do %>
    $('#related_info_trigger').addClass('active');
  <% end %>
  <%= render 'form_footer', questionnaire: questionnaire, previous_partial: previous_partial, form: f %>
<% end %>
