<% http_verb, path = form_path(questionnaire, current_resource, 'temporal_extent') %>
<p class='lead'>
  Unique Identifier: <%= questionnaire.uuid %>
</p>
<%= simple_form_for(current_resource, as: :temporal_extent, method: http_verb, url: path, remote: true)   do |f| %>
  <p class="lead">
    What is the temporal extent of the dataset?
  </p>
  <%= f.input :questionnaire_id, as: :hidden, input_html: { value: questionnaire.id } %>
  <%= f.label :start_datetime, 'Provide the start date and time of the dataset in UTC time.' %>
  <%= f.input :start_datetime, as: :datetime_field, html5: true, required: true %>

  <%= f.label :end_datetime, 'Provide the end date and time of the dataset in UTC time.' %>
  <%= f.input :end_datetime, as: :datetime_field, html5: true, required: true %>

  <%= render 'form_footer', questionnaire: questionnaire, previous_partial: previous_partial, form: f %>
<% end %>
