<% http_verb, path = form_path(questionnaire, current_resource, 'temporal_extent') %>
<p class='lead'>
  Unique Identifier: <%= questionnaire.uuid %>
</p>
<%= simple_form_for(current_resource, as: :temporal_extent, method: http_verb, url: path, remote: true)   do |f| %>
  <p class="lead">
    What is the temporal extent of the dataset?
  </p>
  <%= f.input :questionnaire_id, as: :hidden, input_html: { value: questionnaire.id } %>
  <div class='row'>
    <div class='col-md-4'>
      <%= f.input :start_date, as: :date, label: 'Start Date', html5: true, required: true %>
    </div>
    <div class='col-md-4'>
      <%= f.input :start_time, as: :time, label: 'Start Time', html5: true %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <%= f.input :end_date, as: :date, label: 'End Date - if data collection is ongoing check the ‘Active Dataset’ box below and leave the End Date blank.', html5: true, input_html: { class: 'end_date_prompt' } %>
    </div>
    <div class='col-md-4'>
      <%= f.input :end_time, as: :time, label: 'End Time', html5: true %>
    </div>
  </div>


  <%= render 'form_footer', questionnaire: questionnaire, previous_partial: previous_partial, form: f %>
<% end %>
